{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>attendance portal</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

</head>

<style>
  .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: x-small;
    font-family: sans-serif;
    /* min-width: 400px; */
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }

  .styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
  }

  .styled-table th, .styled-table td {
    padding: 6px 9px;
  }

  .styled-table tbody tr {
      border-bottom: 1px solid #dddddd;
  }

  .styled-table tbody tr:nth-of-type(even) {
      background-color: #f3f3f3;
  }

  .styled-table tbody tr:last-of-type {
      border-bottom: 2px solid #009879;
  }

  #table1 tr:not(:first-child):hover, #table2 tr:not(:first-child):hover{
    background-color: #ddd;
  }

  .absent{
    color : red;
  }
  
  #notInDb{
    background-color: #B6E2D3;
  }

  #addNew {
    text-align: center;
    padding: 80px;
    margin-top: 3%;
    margin-left: 10%;
    padding-left: 20%;
    height: 100%;
    width: 80%;
    color: black;
    border: 2px dashed rgb(95, 95, 95);
    background-color: #BDBDBC;
    border-radius: 10px;
  }

  #upload{
    padding:30px;
    align-items: center; 
    text-align: center;
  }

  #browser{
    height: 80%;
  }

</style>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="static/assets/img/women.png" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Name</a></h1>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#skills" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Attendance</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Add student</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Hola</h1>
      <p> <span class="typed" data-typed-items="Take, Automate, Simplify"></span>  Attendance</p>
      <p>Class - <a href="#" style="color:white;"><strong><u>Recent Trends in AI</strong></u></a><br>
      Code - <strong>EC462</strong><br>
      <p style="font-size: medium;">Time - 08:00 : 10:00<br>
      <span id="todays_date"></span></p></p>
    </div>
  </section><!-- End Hero -->

  <main id="main"> 
    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg" >
      <div class="container" style="min-height: 800px;">

        <div class="section-title">
          <h2>Attendance</h2>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">

            <table class="styled-table" id="table1">
              <thead>
                  <tr>
                      <th>Sr. No.</th>
                      <th>Roll No</th>
                      <th>Name</th>
                      <th>Attendance</th>
                  </tr>
              </thead>
              <tbody>
                {% for gg in stud1 %}
                <tr {% if gg.attendance == 'no' %} class='absent' {% endif %} >
                    <td>{{ gg.sno }}</td>
                    <td {% if not gg.db %} id='notInDb' {% endif %} >{{ gg.rno }}</td>
                    <td>{{ gg.name }}</td>
                    <td>{{ gg.attendance }}</td>
                </tr>
                {% endfor %}
              </tbody>
          </table>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <table class="styled-table" id="table2">
              <thead>
                  <tr>
                    <th>Sr. No.</th>
                    <th>Roll No</th>
                    <th>Name</th>
                    <th>Attendance</th>
                  </tr>
              </thead>
              <tbody>
                {% for gg in stud2 %}
                <tr {% if gg.attendance == 'no' %} class='absent' {% endif %} >
                    <td>{{ gg.sno }}</td>
                    <td {% if not gg.db %} id='notInDb' {% endif %} >{{ gg.rno }}</td>
                    <td>{{ gg.name }}</td>
                    <td>{{ gg.attendance }}</td>
                </tr>
                {% endfor %}
              </tbody>
          </table>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume" style="min-height: 800px;">
      <div class="container">

        <div class="section-title">
          <h2>Add Student</h2>
        </div>

          <div class="card border-left-warning shadow h-100 py-2" >
              <div class="card-body" >

                <form action="" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                 
                <div class="row">
                  <div class="col-lg-6" data-aos="fade-up">
                    <div class="resume-item pb-0">
                      <h4>Roll Number</h4>
                          <input class="form-control" list="browsers" name="browser" id="browser2"  onchange="changedSelect()" onkeypress='return event.keyCode!=13' autocomplete="off" onkeydown="changedSelect()">
                          <datalist id="browsers">
                          </datalist>   
                    </div>
                    <br>
                  </div>

                  <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="resume-item">
                      <h4>Name</h4>
                      <input class="form-control" id="namePlace" disabled name="rno">
                    </div>
                  </div>
                  
                  <div id="addNew">
                    {{form.as_p}}
                  </div>
                  <br>
                  <div id="upload">
                    <input type="submit" class="btn btn-primary mt-3" value="Upload" id="submitBTN" style="width: 50%;">
                  </div>   

                </div>     
              </form>

            </div>
          </div>

          
      </div>
    </section><!-- End Resume Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="credits">
        Delhi Technological University</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/purecounter/purecounter.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/typed.js/typed.min.js"></script>
  <script src="static/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>
  <script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>

  <script>
    var date =  new Date().toLocaleDateString();
    var time =  new Date().toLocaleTimeString('en-US', { hour12: false,hour: "numeric", minute: "numeric"});
    document.getElementById("todays_date").innerHTML = date;
    document.getElementById("last_updated").innerHTML = time;

    // if(document.getElementById("attend").innerHTML=="yes"){}
  </script>

  <script>
    document.getElementById('submitBTN').disabled = true;

    //for dropdown
    var nonDBrNos = JSON.parse("{{nonDBrNos|escapejs}}");
    select = document.getElementById('browsers');

    for (const [key, value] of Object.entries(nonDBrNos)) {
      var opt = document.createElement('option');
      // opt.id = nonDBrNos[i];
      opt.value = key;
      select.appendChild(opt);
    }


    //dropdown change
    function changedSelect(){
      var stu = document.getElementById('browser2').value;
      var studentName = nonDBrNos[stu];
      if(typeof studentName == 'undefined'){
        document.getElementById('namePlace').value = null;
        document.getElementById('submitBTN').disabled = true;
      }
      else{
        document.getElementById('namePlace').value = studentName;
        document.getElementById('submitBTN').disabled = false;
      }
    }

  </script>

</body>

</html>