{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>attendance portal</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />
  <link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

</head>

<style>
  .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: x-small;
    font-family: sans-serif;
    /* min-width: 400px; */
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }

  .styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
  }

  .styled-table th, .styled-table td {
    padding: 6px 9px;
  }

  .styled-table tbody tr {
      border-bottom: 1px solid #dddddd;
  }

  .styled-table tbody tr:nth-of-type(even) {
      background-color: #f3f3f3;
  }

  .styled-table tbody tr:last-of-type {
      border-bottom: 2px solid #009879;
  }

  #table1 tr:not(:first-child):hover, #table2 tr:not(:first-child):hover{
    background-color: #ddd;
  }
  
  .notInDb{
    background-color: #B6E2D3;
  }

  #addNew {
    text-align: center;
    padding: 80px;
    margin-top: 3%;
    margin-left: 10%;
    padding-left: 20%;
    height: 100%;
    width: 80%;
    color: black;
    border: 2px dashed rgb(95, 95, 95);
    background-color: #E5E4E2;
    border-radius: 10px;
  }

  #upload{
    padding:30px;
    align-items: center; 
    text-align: center;
  }

  #browser{
    height: 80%;
  }

  .message_text{
    align-items: center;
    text-align: center;
  }

  .alertMsg{
  display: none;
	color:white;
	position: absolute;
	border: 1 px solid;
  padding: 10px;
	text-align: center;
	border-radius: 10px;
	background: #2268CF;
  font-weight: bold;
	margin-left: 83px;
  width: 200px;
  z-index: 100;
}

.alertMsg2{
  display: none;
	color:white;
	position: absolute;
	border: 1 px solid;
  padding: 10px;
	text-align: center;
	border-radius: 10px;
	background: #2268CF;
  font-weight: bold;
	margin-left: 11%;
  /* width: 200px; */
  z-index: 100;
}

</style>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= LEFT PANEL ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="static/assets/img/women.png" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html"> {{ user.get_username }}</a></h1>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#skills" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Attendance</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Add student</span></a></li>
          <hr style="color:white; width:100%;">
          <li><a href="" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Database</span></a></li>
          <li><a href="{% url 'logout' %}" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Log-Out</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= INTRO Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">

      <!-- Message -->
      <div class="message_text">
        {% if messages %}
        <ul id="mssg">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="color: yellow">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}    
      </div>
      <!-- Message End-->

      <h1>Hola</h1>
      <p> <span class="typed" data-typed-items="Take, Automate, Simplify"></span>  Attendance</p>
      <p>
      Class - <a href="#" style="color:white;"><strong><u>Recent Trends in AI</strong></u></a><br>
      Code - <strong>EC462</strong><br>
        <p style="font-size: medium;">
          <span id="class_time">Time - 08:00 : 10:00</span>
          <br>
          <span id="todays_date"></span>
        </p>
      </p>
    </div>
  </section><!-- End Hero -->

  <main id="main"> 
    <!-- ======= ATTENDANCE table Section ======= -->
    <section id="skills" class="skills section-bg" >
      <div class="container" style="min-height: 800px;">

        <div class="row" >

          <div class="section-title col-lg-4 col-sm-4 col-lg-4 col-4 ">
              <h2>Attendance</h2>
              <span id="attendanceDate"></span>
          </div>
          
          <div class=" col-lg-6 col-sm-6 col-lg-6 col-6" style="text-align: center; margin: auto;">
            <div class="alertMsg" id="alertMsg"></div>
            <div class="bootstrap-iso" style="background: none;">
              <div class="container-fluid">
               <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12" >
                 <form class="form-horizontal" method="post">
                  <div class="form-group ">
                   <div class="col-sm-12">
                    <div class="input-group" style="width:100%; max-width: 300px; margin-left: auto; margin-right: 0;">
                     <div class="input-group-addon">
                      <i class="fa fa-calendar">
                      </i>
                     </div>
                     <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text" autocomplete="off" onchange="changeName()" style="height: 45px; color: #173b6c; font-size: medium;  font-weight: bold;"/>
                    </div>
                   </div>
                  </div>
                 </form>
                </div>
               </div>
              </div>
             </div>


          </div>
          <div class="col-lg-2 col-sm-2 col-lg-2 col-2" style="padding:19px;"><button class="btn btn-primary mt-3" style="padding:6px; font-size: small;" id="refreshButton" onclick="updateTable()"></button></div>
        </div>

        <div class="row skills-content">
          <div class="col-lg-6" data-aos="fade-up">
            <table class="styled-table" id="table1"></table>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <table class="styled-table" id="table2"></table>
          </div>
        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= IMAGE upload Section ======= -->
    <section id="resume" class="resume" style="min-height: 800px;">
      <div class="container">

        <div class="section-title">
          <h2>Add Student</h2>
        </div>

          <div class="card border-left-warning shadow h-100 py-2" >
              <div class="card-body" >

                <form action="" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                 
                <div class="row">
                  <div class="col-lg-6" data-aos="fade-up">
                    <div class="resume-item pb-0">
                      <h4>Roll Number</h4>
                          <input class="form-control" list="browsers" name="browser" id="browser2"  onchange="changedSelect()" onkeypress='event.keyCode!=13' autocomplete="off" onkeydown="changedSelect()">
                          <datalist id="browsers">
                          </datalist>   
                    </div>
                    <br>
                  </div>

                  <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="resume-item">
                      <h4>Name</h4>
                      <input class="form-control" id="namePlace" disabled name="rno">
                    </div>
                  </div>
                  
                  <div id="addNew" >
                    {{form.as_p}}
                  </div>
                  <br>
                  <div id="upload">
                    <input type="submit" class="btn btn-primary mt-3" value="Upload" id="submitBTN" style="width: 50%;">
                  </div>   

                </div>     
              </form>

            </div>
          </div>

          
      </div>
    </section><!-- End Resume Section -->

      <!-- ======= UpdateDB Section ======= -->
      <section id="services" class="services">
        <div class="container">
          <div style="margin: auto; width: 50%">
            <div class="alertMsg2" id="alertMsg2"></div>
          </div>
  
          <div class="section-title">
            <h2>Update Database</h2>
            <p>Uploaded images will be used to train model and add students.</p>
          </div>
  
          <div class="row">
            <div class="col-lg-12 col-md-12 icon-box" data-aos="fade-up" style="margin: auto;
            width: 50%;">
              <input type="submit" class="btn btn-primary mt-3" value="Update" id="updateBtn" style="width: 70%; border-radius: 20px; margin-left:15%;" onclick="updateDB()">
            </div>
          </div>
  
        </div>
      </section>
  

    

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="credits">
        Delhi Technological University</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/purecounter/purecounter.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/typed.js/typed.min.js"></script>
  <script src="static/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>
  <script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>

  <!-- jquery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>


<script>
	$(document).ready(function(){
		var date_input=$('input[name="date"]');
		var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";

    document.getElementById("refreshButton").innerHTML = "Refresh";
    
		date_input.datepicker({
			format: 'dd/mm/yyyy',
			container: container,
			todayHighlight: true,
			autoclose: true,
		})
	})

  function changeName(){
    var lol = document.getElementById("date").value;
    console.log(lol);
    if(lol == "") document.getElementById("refreshButton").innerHTML = "Refresh";
    else document.getElementById("refreshButton").innerHTML = "Update";
  }

  function showMsg(){
    console.log("message");
    $("#alertMsg").fadeIn('slow', function () {
      $(this).delay(1000).fadeOut('slow');
    });
	}

  function showMsg2(){
    console.log("message");
    $("#alertMsg2").fadeIn('slow', function () {
      $(this).delay(1000).fadeOut('slow');
    });
	}

  function updateTable(){
    var date_selected = document.getElementById("date").value;
    // console.log(date_selected);

    if(date_selected == ""){
      date_selected = date;
    }

    $.ajax({
      url: "{% url 'attendance_for_date' %}",
      data: {
        'datee':date_selected,
      },
      type: 'get',
      success: function (response) {
        console.log(response.message);
        createTable('table1',response.stud1,1);
        createTable('table2',response.stud2,1);
        console.log("tables update");
        document.getElementById("attendanceDate").innerHTML = date_selected;
        document.getElementById("alertMsg").innerHTML="Updated";
        showMsg();
      },
      error: function (res) {
        // console.log("error",res.status);
        document.getElementById("alertMsg").innerHTML="No class found!";
        showMsg();
      }
    });
  }
</script>

 <!-- creating table -->
  <script>
    var table1data = JSON.parse("{{stud1|escapejs}}");
    var table2data = JSON.parse("{{stud2|escapejs}}");
    var datee = JSON.parse("{{datee|escapejs}}");
    document.getElementById("attendanceDate").innerHTML = datee;

    function createTable(tableName,Tabledata,flag){

      if(flag==1){
        //delete row from table
        $("#"+tableName+" tr").remove();
      }

      var dataForJS = Tabledata;
      let table = document.createElement('table');
      let thead = document.createElement('thead');
      let tbody = document.createElement('tbody');


      table.appendChild(thead);
      table.appendChild(tbody);

      table.style.minWidth="100%";

      // Adding the entire table to the body tag
      document.getElementById(tableName).appendChild(table);

      let row_1 = document.createElement('tr');
      let heading_1 = document.createElement('th');
      heading_1.innerHTML = "Sr. No.";
      heading_1.style.minWidth="10%";

      let heading_2 = document.createElement('th');
      heading_2.innerHTML = "Roll No";
      heading_2.style.minWidth="20%";

      let heading_3 = document.createElement('th');
      heading_3.innerHTML = "Name";
      heading_3.style.minWidth="40%";

      let heading_4 = document.createElement('th');
      heading_4.innerHTML = "Attendance";
      heading_4.style.minWidth="30%";

      row_1.appendChild(heading_1);
      row_1.appendChild(heading_2);
      row_1.appendChild(heading_3);
      row_1.appendChild(heading_4);
      thead.appendChild(row_1);

      for(var i=0;i<dataForJS.length;i++){
        let row_2 = document.createElement('tr');

        let row_2_data_1 = document.createElement('td');
        row_2_data_1.innerHTML = dataForJS[i]["sno"];

        let row_2_data_2 = document.createElement('td');
        row_2_data_2.innerHTML = dataForJS[i]["rno"];
        if(dataForJS[i]["db"]==false) row_2_data_2.className = "notInDb";

        let row_2_data_3 = document.createElement('td');
        row_2_data_3.innerHTML = dataForJS[i]["name"];

        let row_2_data_4 = document.createElement('td');
        row_2_data_4.innerHTML = dataForJS[i]["attendance"];
        if(dataForJS[i]["attendance"]=="Absent") row_2_data_4.style.color ="red";
        else row_2_data_4.style.color ="green";

        row_2.appendChild(row_2_data_1);
        row_2.appendChild(row_2_data_2);
        row_2.appendChild(row_2_data_3);
        row_2.appendChild(row_2_data_4);
        tbody.appendChild(row_2);
      }
    }

    createTable('table1',table1data, 0);
    createTable('table2',table2data, 0);
  </script>

  

<!-- ajax updateDB  -->
  <script>
    function updateDB(){
      $.ajax({
          url: "{% url 'updateDB' %}",
          type: 'get',
          success: function (response) {
            console.log(response.message);
            if(response.message=="0"){
              document.getElementById("alertMsg2").innerHTML="Already Up to date!";
              showMsg2();
            }
            else if(response.message=="lol"){
              document.getElementById("alertMsg2").innerHTML="Not available for demo user!";
              showMsg2();
            }
            else{
              let AltertMssg="Updating for:"
              let temp="";
              // console.log(response.names);
              var nam = response.names;
              for(var i=0;i<nam.length;i++){
                temp = temp+nam[i];
                temp = temp+",";
              }
              temp = "Updating for:"+temp;
              document.getElementById("alertMsg2").innerHTML=temp;
              showMsg2();
            }
          },
          error: function (res) {
            console.log("error",res.status);
            alert("some error occured!")
          }
        });
      return;
    }
  </script>

  <script>
    var kk= JSON.parse("{{stud1|escapejs}}");
    console.log(kk.length);
    if(kk.length==0){
      document.getElementById("todays_date").innerHTML = "No class found";
      document.getElementById("class_time").style.display="none";
    }
    else{
      var date =  new Date().toLocaleDateString();
      var time =  new Date().toLocaleTimeString('en-US', { hour12: false,hour: "numeric", minute: "numeric"});

      document.getElementById("todays_date").innerHTML = date;
    }

    // if(document.getElementById("attend").innerHTML=="yes"){}
  </script>

  <script>
    document.getElementById('submitBTN').disabled = true;

    //for dropdown
    var nonDBrNos = JSON.parse("{{nonDBrNos|escapejs}}");
    select = document.getElementById('browsers');

    for (const [key, value] of Object.entries(nonDBrNos)) {
      var opt = document.createElement('option');
      // opt.id = nonDBrNos[i];
      opt.value = key;
      select.appendChild(opt);
    }


    //dropdown change
    function changedSelect(){
      var stu = document.getElementById('browser2').value;
      var studentName = nonDBrNos[stu];
      if(typeof studentName == 'undefined'){
        document.getElementById('namePlace').value = null;
        document.getElementById('submitBTN').disabled = true;
      }
      else{
        document.getElementById('namePlace').value = studentName;
        document.getElementById('submitBTN').disabled = false;
      }
    }

  </script>

</body>

</html>


<!-- ajax example -->
<!-- <button id="ajax" onclick="ajax_call()">lol</button>
function ajax_call(){
  //send ajax to mark as read
  $.ajax({
      url: "{% url 'ajax_test' %}",
      data: {
        'notif_id':"lol",
      },
      type: 'get',
      success: function (response) {
        console.log(response.message);
        console.log("notifications updated")
      },
      error: function (res) {
        console.log("error",res.status);
        alert("some error occured!")
      }
    });
  return;
} -->