{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>attendance portal</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="static/assets/img/women.png" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Name</a></h1>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#skills" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Attendance</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Add student</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume" style="min-height: 800px;">
      <div class="container">

        <div class="section-title">
          <h2>Add Student</h2>
          
          <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form}}
            <input type="submit" class="btn btn-danger" value="Upload">
           </form>


        </div>

          <div class="card border-left-warning shadow h-100 py-2" >
              <div class="card-body" >

                <div class="row">
                  <div class="col-lg-6" data-aos="fade-up">
                    <div class="resume-item pb-0">
                      <h4>Roll Number</h4>

                        <form>
                          <input class="form-control" list="browsers" name="browser" id="browser2"  onchange="changedSelect()" onkeypress='return event.keyCode!=13' autocomplete="off" onkeydown="changedSelect()">
                          <datalist id="browsers">
                          </datalist>    
                        </form>
  
                    </div>
                    <br>
                  </div>

                  <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="resume-item">
                      <h4>Name</h4>
                      <input class="form-control" id="namePlace" disabled>
                    </div>
                  </div>
                  
                  <div style="align-items: center; text-align: center;">
                  <button type="submit" class="btn btn-primary mt-3" id="submitBTN" style="width: 50%;">Submit</button>   
                  <br><br>

                  </div>               

                </div>     

            </div>
          </div>

          
      </div>
    </section><!-- End Resume Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="credits">
        Delhi Technological University</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/purecounter/purecounter.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/typed.js/typed.min.js"></script>
  <script src="static/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>
  <script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>

  <script>
    
    

    
    

    var date =  new Date().toLocaleDateString();
    var time =  new Date().toLocaleTimeString('en-US', { hour12: false,hour: "numeric", minute: "numeric"});
    document.getElementById("todays_date").innerHTML = date;
    document.getElementById("last_updated").innerHTML = time;

    // if(document.getElementById("attend").innerHTML=="yes"){}
  </script>

  <script>
    document.getElementById('submitBTN').disabled = true;

    //for dropdown
    var nonDBrNos = JSON.parse("{{nonDBrNos|escapejs}}");
    select = document.getElementById('browsers');

    for (const [key, value] of Object.entries(nonDBrNos)) {
      var opt = document.createElement('option');
      // opt.id = nonDBrNos[i];
      opt.value = key;
      select.appendChild(opt);
    }


    //dropdown change
    function changedSelect(){
      var stu = document.getElementById('browser2').value;
      var studentName = nonDBrNos[stu];
      if(typeof studentName == 'undefined'){
        document.getElementById('namePlace').value = null;
        document.getElementById('submitBTN').disabled = true;
      }
      else{
        document.getElementById('namePlace').value = studentName;
        document.getElementById('submitBTN').disabled = false;
      }
    }

  </script>

</body>

</html>